openapi: 3.2.0
info:
  title: Nmbrs Public REST API (HR & Payroll) Payruns API
  description: Modeled OpenAPI for the Visma Nmbrs public REST API - the current, forward-looking interface to Nmbrs HR and payroll software (Netherlands and Sweden).
  version: 1.0-modeled
  contact:
    name: Nmbrs Developer Portal
    url: https://developer.nmbrs.com
servers:
- url: https://api.nmbrsapp.com
  description: Nmbrs Public REST API
security:
- oauth2: []
  subscriptionKey: []
tags:
- name: Pay Runs
  description: Payroll runs (payruns) and their results for a company.
paths:
  /api/companies/{companyId}/payruns:
    get:
      operationId: listPayruns
      tags:
      - Pay Runs
      summary: List payruns
      description: Lists payroll runs for a company.
      parameters:
      - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: A list of payruns.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payrun'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Payrun:
      type: object
      properties:
        payrunId:
          type: string
        period:
          type: integer
        year:
          type: integer
        runId:
          type: integer
        description:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth token or subscription key.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 401
              message:
                type: string
                example: Access denied due to invalid subscription key or bearer token.
  parameters:
    CompanyId:
      name: companyId
      in: path
      required: true
      description: Unique identifier of the company.
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow via identityservice.nmbrs.com.
      flows:
        authorizationCode:
          authorizationUrl: https://identityservice.nmbrs.com/connect/authorize
          tokenUrl: https://identityservice.nmbrs.com/connect/token
          scopes:
            employee.info: Read/write employee personal information
            employee.info.read: Read employee personal information
            employee.employment: Read/write employment data
            employee.employment.read: Read employment data
            employee.payment: Read/write salary and payment data
    subscriptionKey:
      type: apiKey
      in: header
      name: X-Subscription-Key
      description: Per-product subscription key generated in the Nmbrs developer portal, required on every request in addition to the OAuth bearer token.
