openapi: 3.2.0
info:
  title: Nmbrs Public REST API (HR & Payroll) Absences API
  description: Modeled OpenAPI for the Visma Nmbrs public REST API - the current, forward-looking interface to Nmbrs HR and payroll software (Netherlands and Sweden).
  version: 1.0-modeled
  contact:
    name: Nmbrs Developer Portal
    url: https://developer.nmbrs.com
servers:
- url: https://api.nmbrsapp.com
  description: Nmbrs Public REST API
security:
- oauth2: []
  subscriptionKey: []
tags:
- name: Absences
  description: Employee absence, leave, and sickness registrations.
paths:
  /api/employees/{employeeId}/absences:
    get:
      operationId: listAbsences
      tags:
      - Absences
      summary: List absences
      description: Lists absence, leave, and sickness registrations for an employee.
      parameters:
      - $ref: '#/components/parameters/EmployeeId'
      responses:
        '200':
          description: A list of absence records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Absence'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAbsence
      tags:
      - Absences
      summary: Register an absence
      description: Registers a new absence (leave or sickness) for an employee.
      parameters:
      - $ref: '#/components/parameters/EmployeeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Absence'
      responses:
        '201':
          description: The created absence record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Absence'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Absence:
      type: object
      properties:
        absenceId:
          type: string
        type:
          type: string
        percentage:
          type: integer
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
  parameters:
    EmployeeId:
      name: employeeId
      in: path
      required: true
      description: Unique identifier of the employee.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth token or subscription key.
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: integer
                example: 401
              message:
                type: string
                example: Access denied due to invalid subscription key or bearer token.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow via identityservice.nmbrs.com.
      flows:
        authorizationCode:
          authorizationUrl: https://identityservice.nmbrs.com/connect/authorize
          tokenUrl: https://identityservice.nmbrs.com/connect/token
          scopes:
            employee.info: Read/write employee personal information
            employee.info.read: Read employee personal information
            employee.employment: Read/write employment data
            employee.employment.read: Read employment data
            employee.payment: Read/write salary and payment data
    subscriptionKey:
      type: apiKey
      in: header
      name: X-Subscription-Key
      description: Per-product subscription key generated in the Nmbrs developer portal, required on every request in addition to the OAuth bearer token.
